@{
    ViewBag.Title = "Контакты";
}

<h3>Контакты</h3>
<br />
<h4>В случае задержки вылета рейса звонить:</h4>
<h4>Авиадиспетчер НГОК:</h4>
<h4>сот.тел. : +7 914-252-15-08</h4>
<h4>раб.тел. : 47169</h4>
<br />

<h4>Для получения прав доступа к "Системе регистрации пассажиров", необходимо связаться с авиадиспетчером ЦОП.</h4> 
<br />
<h4>При возниконовении ошибок в системе, с предложениями и пожеланиями по доработке системы, просьба обращаться по телефонам:</h4>
<h4>раб. тел.: &nbsp;&nbsp;46888</h4>
<h4>городской: 99888</h4>
<h4>Или по электронной почте:</h4>
<h4>Черменин Н.А.: <a href="mailto:ChermeninNA@alrosa.ru?subject=Система регистрации пассажиров. Замечания и предложения">ChermeninNA@alrosa.ru</a></h4>   
<h4>Цыренов С.В. : <a href="mailto:TsyrenovSV@alrosa.ru?subject=Система регистрации пассажиров. Замечания и предложения">TsyrenovSV@alrosa.ru</a></h4> 
<br />
<h5 style="color:darkgray">&reg; "Система регистрации пассажиров" является собственной разработкой АК "АЛРОСА" (ПАО), Нюрбинский Горно-Обогатительный Комбинат.</h5>





